#nprogress .bar {
  background: linear-gradient(
    90.05deg,
    #f65163 42.42%,
    #ffbe46 106.66%
  ) !important;
  height: 3px !important;
  margin-top: 1px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #f65163, 0 0 5px #ffbe46 !important;
}

#nprogress .spinner-icon {
  width: 25px !important;
  height: 25px !important;

  border: solid 3px transparent !important;
  border-top-color: #f65163 !important;
  border-left-color: #ffbe46 !important;
}
