body {
  background-image: url("/public/static/images/anniversary-bg.png"),
    linear-gradient(90deg, #190649 95%, #a62dd8 5%);
  background-position-x: 38%;
  // color: var(--global-body-color);
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  // font-weight: var(--global-font-weight-normal);
  // line-height: var(--global-line-height-1);
  min-height: 100vh;
  overflow-x: hidden;
  // transition: background-color var(--global-duration-3) ease-out,
  //   border-color var(--global-duration-3) ease-out,
  //   color var(--global-duration-3) ease-out;
}
