input,
textarea {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 78%);
  border-radius: 4px;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    121.26deg,
    hsl(312, 100%, 42%) -24.03%,
    hsl(253, 66%, 50%) 85.5%
  );
  color: hsl(0, 0, 0%);
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding: 10px;
}
