:root {
  accent-color: hsl(283, 69%, 41%);
  background: hsl(257, 85%, 15%);
  color: white;
  // color-scheme: light dark;
  // font-size: var(--global-font-size-default);
  // // line-sizing: normal; ?? What does this do? It's in a draft spec
  scrollbar-color: hsl(283, 69%, 41%);
  //   var(--global-scroll-track-color);
  // text-size-adjust: none;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}
